SAUCE_USERNAME=seu_usuario_sauce
SAUCE_ACCESS_KEY=sua_access_key
# id do app no Sauce Storage (LojaEBAC-sim.zip)
SAUCE_APP=storage:<id-do-app>
# opcionais
SAUCE_REGION=us
SAUCE_DEVICE_NAME=iPhone Simulator
SAUCE_PLATFORM_VERSION=17.0
